.main h1 {
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 80px;
    text-transform: uppercase;
  }
  
  .supporting {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  
  .supporting .col {
    float: left;
    width: 50%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
  }
  
 
  
  .supporting h2 {
    font-weight: 600;
    font-size: 23px;
    text-transform: capitalize;
  }
  
  .supporting p {
    font-size: 17px;
    line-height: 30px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 40px;
  }
  
  .clearfix {
    clear: both;
  }
  
  img {
  padding: 5px;
  width: 40%;
  height: 100%;
  }

  .doing {
    color: #333;
  }