footer{
    background-color: #46c8de;
    text-align: center;
    text-transform: uppercase;
    padding-top: -30px;
    margin-top: auto;
    position: relative;
    
}

footer li{
    list-style: none;
    margin: 10px;
    display: inline-block;
}

.footer-copyright{
    background-color:#198dab;
    color: #ffffff;
    padding: 15px;
    margin-top: 30px;
    text-transform: capitalize;
}

.footer-copyright p{
    margin-bottom: 0px;
}
   
img {
    width: 100px;
    height: 100px;
    }

    h1 {
        color: #ffffff;
        text-transform: capitalize;
    }
    
    
  
  